
@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
	margin: 2em 2em 2em 5em;
	width: 45em;
	min-width: 20em;
    background-color: rgb(253,253,253);
}

h1#site-name {
   margin-bottom: 0;
   padding: 0;
}

#site-name a{background:transparent url(../images/header-logo.gif) left top no-repeat;}
#site-name a{display:block;height:50px;width:150px;overflow:hidden;text-indent:-3000px;}

h1, h2, h3, h4, h5, h6 {
   font-family: 'Raleway',Arial,sans-serif;
}

h2 {
   font-size: 250%;
}

h3 {
   font-size: 150%;
   font-weight: normal;
}

.breadcrumb {
   margin-bottom: 1.5em;
}

table{
	width:850px;
	margin-bottom:3.5em;
}
td,
th{
	vertical-align:top;
}
.invisible{
	position:absolute !important;
	height:1px;
	width:1px;
	overflow:hidden;
	clip:rect(1px, 1px, 1px, 1px);
}
.s1{
	width:200px;
}
.s2{
	width:400px;
}
.s3{
	width:100px;
}
.s4{
	width:75px;
}
.s5{
	width:75px;
}
.m1{
	width:200px;
}
.m2{
	width:250px;
}
.m3{
	width:400px;
}

.right {
    float: right;
}
