@charset "utf-8"; /* -*- coding: utf-8 -*- */
/* this is cas.css */

/** notice要素
 * Wikiマークアップ: __wikitext__
 */
span.notice {
 text-decoration : underline;
}

/** 警告要素
 * Wikiパーザーなどにより生成される
 */
div.sys-warning, span.sys-warning {
 border:gray 2px solid; /* IEでは、"gray" しか使えないモノがある。*/
 background-color: white;
 font-size:x-large;
 font-weight:bold;
 color:red;
}

/**
 * 全画面表紙画像
 */
body.opening img.full-cover-image {
 width: 100%;
 height: 100%;
}

body.opening, body.opening div, body.opening p {
 margin: 0;
 text-indent: 0;
}

/**
 * 索引項目にだけ出力する用語は隠す
 */
.nodisp, .indexonly {
 display:none;
}

/**
 * preは折り曲げる
 */
pre {
 white-space: pre-wrap;
}
