@charset "UTF-8";
/*-------------------------------------------------------------------------------
  横組時のスタイルを記述します。
  -epub-writing-mode、font-family、インデントの部分が中心です。
 ------------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------
  [タイプセレクタ]
  bodyへのwriting-mode指定、基本となるfont-familyを指定
 ----------------------------------------------------------------------------*/
/*body*/
body {
  -epub-writing-mode:horizontal-tb;
  -webkit-writing-mode:horizontal-tb;
  font-family: "Hiragino Mincho ProN","ヒラギノ明朝 Pro W3","IPAexMincho","IPAex明朝","MS Mincho","ＭＳ 明朝",serif;
  /*本文フォントに明朝体指定する場合には、この順番を推奨*/
}

/* 見出し */
h1,h2,h3,h4,h5,h6 {
  /*横組時の見出しの書体指定*/
  font-family: "HiraKakuProN-W3","ヒラギノ角ゴ Pro W3","MS Gothic","ＭＳ ゴシック",sans-serif;
  /*横組時の見出しの前後にアキを入れる場合の指定。アキを入れない場合には、この下の2行は削除*/
  margin-bottom:1em;
  margin-bottom:1em;
}

/*-----------------------------------------------------------------------------
  [クラスセレクタ]
  クラス名や値の設定は任意ですが、使用するプロパティは可能な限り合わせてください
 ----------------------------------------------------------------------------*/

/* body */
body.title {
  -epub-writing-mode:horizontal-tb;
  -webkit-writing-mode:horizontal-tb;
}
body.tocpage {
  -epub-writing-mode:horizontal-tb;
  -webkit-writing-mode:horizontal-tb;
}
body.chapter_page {
  -epub-writing-mode:horizontal-tb;
  -webkit-writing-mode:horizontal-tb;
}
body.body_text {
  -epub-writing-mode:horizontal-tb;
  -webkit-writing-mode:horizontal-tb;
}
body.sectional_ttl{
  -epub-writing-mode:horizontal-tb;
  -webkit-writing-mode:horizontal-tb;
}

/* 見出し */
h1.title {
  font-family: "Hiragino Mincho ProN","ヒラギノ明朝 Pro W3","IPAexMincho","IPAex明朝","MS Mincho","ＭＳ 明朝",serif;
}
h2.chapter{
  font-family: "Hiragino Mincho ProN","ヒラギノ明朝 Pro W3","IPAexMincho","IPAex明朝","MS Mincho","ＭＳ 明朝",serif;
  padding-left:2em;
  padding-right:1.75em;
}
h2.section {
  font-family:"HiraKakuProN-W3","ヒラギノ角ゴ Pro W3","MS Gothic","ＭＳ ゴシック",sans-serif;
  margin-top:1.75em;
  padding-left:2em;
}
h3.subchapter {
  padding-left:3em;
  padding-right:1em;
  padding-left:1em;
  text-indent:-1em;
}
h3.sub_section {
  padding-left:1em;
  padding-right:1em;
  padding-left:1em;
}
h2.toc {
  font-family:"HiraKakuProN-W3","ヒラギノ角ゴ Pro W3","MS Gothic","ＭＳ ゴシック",sans-serif;
  letter-spacing: 1em;
  padding-left:2em;
}
h4.section {
  padding-left:3em;
}

/* 文字装飾など */
.underline {
    text-decoration:underline; /*縦書き時にはoverline、横書き時にはunderline*/
}

p.author_top_title {
  font-family: "Hiragino Mincho ProN","ヒラギノ明朝 Pro W3","IPAexMincho","IPAex明朝","MS Mincho","ＭＳ 明朝",serif;
  text-align: right;
}
.gothic {
  font-family:"HiraKakuProN-W3","ヒラギノ角ゴ Pro W3","MS Gothic","ＭＳ ゴシック",sans-serif;
}
.go_small_red {
  font-family:"HiraKakuProN-W3","ヒラギノ角ゴ Pro W3","MS Gothic","ＭＳ ゴシック",sans-serif;
  font-size:90%;
  color:#ff0000;
}

/*字下げ、インデント*/
.start_1em {
  padding-left:1em;
  margin-top:1em;
  margin-bottom: 1em;
}
.start_2em {
  padding-left:2em;
/*  margin-top:1em;
  margin-bottom: 1em;*/
}
.start_3em_nopad {
  padding-left:4em;
}
.start_4em {
  padding-left:4em;
}
.indent_m1em {
  padding-left:1em;
  text-indent:-1em;
}
.indent_m2em {
  padding-left:2em;
  text-indent:-2em;
}
.start_1em_indent_2em {
  padding-left:3em;
  text-indent:-2em;
  margin-top:1em;
  margin-bottom: 1em;
}
.start_2em_indent_2em {
  padding-left:4em;
  text-indent:-2em;
  margin-top:1em;
  margin-bottom: 1em;
}


.level1{
  padding-left:0;
}
.level2 {
  padding-left:1em;
}
