/* FL */
body {
	position:absolute;
	top:0px;
	left:0px;
	margin:0px;
	padding:0px;
	width:1474px;
	height:2324px;
}
.page {
	position:absolute;
	top:0px;
	left:0px;
	margin:0px;
	padding:0px;
	width:100%;
	height:100%;
}
svg { 
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	margin:0;
	padding:0;
	image-rendering:optimizeSpeed;
	shape-rendering:optimizeSpeed;
	color-rendering:optimizeSpeed;
	text-rendering:optimizeSpeed;
}

/* NAV */
a {
	color: black !important;
}

#guide {
	display: none;
}


/* Fonts */
@font-face {
	font-family:AGaramondPro-Regular-0908;
	font-style:normal;
	font-weight:normal;
	src:url(../Font/AGaramondPro-Regular-0908.otf);
}
@font-face {
	font-family:AGaramondPro-Bold-0656;
	font-style:normal;
	font-weight:normal;
	src:url(../Font/AGaramondPro-Bold-0656.otf);
}
@font-face {
	font-family:Garamond-0662;
	font-style:normal;
	font-weight:normal;
	src:url(../Font/Garamond-0662.otf);
}
@font-face {
	font-family:Helvetica-0850;
	font-style:normal;
	font-weight:normal;
	src:url(../Font/Helvetica-0850.otf);
}
@font-face {
	font-family:NewsGothicBT-Roman-0848;
	font-style:normal;
	font-weight:normal;
	src:url(../Font/NewsGothicBT-Roman-0848.otf);
}
@font-face {
	font-family:AdobeArabic-Bold-0851;
	font-style:normal;
	font-weight:normal;
	src:url(../Font/AdobeArabic-Bold-0851.otf);
}
@font-face {
	font-family:HelveticaNeueLTStd-Cn-0846;
	font-style:normal;
	font-weight:normal;
	src:url(../Font/HelveticaNeueLTStd-Cn-0846.otf);
}
@font-face {
	font-family:AGaramondPro-Italic-0855;
	font-style:normal;
	font-weight:normal;
	src:url(../Font/AGaramondPro-Italic-0855.otf);
}
@font-face {
	font-family:Calibri-0660;
	font-style:normal;
	font-weight:normal;
	src:url(../Font/Calibri-0660.otf);
}